@import '../../scss/global';

.Header {
  position: fixed;
  top: 0;
  left: $sideMargin;
  right: $sideMargin;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1rem;

  padding: 0.5rem;
  height: $headerHeight;

  z-index: $zHigh;
  background-color: $seeThrough;
  @media (min-width: 900px) {
    background-color: transparent;
  }

  .Header-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 900px) {
      width: 12em;
    }
    max-width: calc(50% - 0.5rem);
  }

  .Header-left {

    img {
      height: 100%;
      object-fit: contain;
      object-position: left center;
      cursor: pointer;
    }

  }

  .Header-right {
    text-align: right;
    font-size: calc(0.75rem + (1vw / 2));
    @media (min-width: 900px) {
      max-width: 20vw;
      font-size: 1rem;
    }

    .title {
      color: #666;
      font-style: italic;
    }
  }


}
