@import '../../scss/global';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1rem;

  padding: 0.5rem $sideMarginSmall;

  @media (screen and min-width: 600px) {
    padding: 0.5rem $sideMargin;
    column-gap: 10rem;
  }
  height: $headerHeight;


  .Header-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $seeThrough;
    @media (screen and min-width: 600px) {
      max-width: 14em;
    }

    max-width: calc(50% - 0.5rem);
  }

  .Header-left {
    position: relative;
    text-align: center;
    padding-right: 1rem;
    a {
      height: 100%;
    }
    img {
      height: 100%;
      //object-fit: contain;
      //object-position: left center;
      cursor: pointer;
    }


  }

  .Header-right {
    padding-left: 0.5rem;
    text-align: right;
    font-size: 0.75rem;



    .title {
      color: #444;
      font-style: italic;
      font-weight: 600;

      .byLine {
        color: #666;
        font-size: 1rem;

      }

      .volumeTitle {
        font-weight: normal;
      }
    }
  }


}
