@import '../../scss/global';

.BadTableOfContents-Icon-Wrapper {
  position: fixed;
  right: 0.5rem;
  top: 0.25rem;
  cursor: pointer;


  @media(screen and min-width: 600px) {
    top: $headerHeight;
    left: $sideMargin;
    width: $iconWidth;
  }
}

.TableOfContentsDialog {
  .ViewLibraryButton {
    display: none;
    @media (screen and min-width: 600px) {
      display: block;
    }
  }

}