@import '../../scss/global';

.BadTableOfContents-Icon-Wrapper {
  position: fixed;
  opacity: $iconOpacity;
  top: 4rem;
  left: 1rem;
  cursor: pointer;
  .enter-fullScreen-button {
    display: block;
  }
}
