@import '../../scss/global';

.StageWrapper {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: row;

  .NavBox {
    flex-grow: 1;
    a {
      opacity: 0;
    }

    &.previousBox {
      a {
        width: 100%;
        height: 100%;
        cursor: url(../../../public/ui/left-arrow.svg), auto;
      }
    }

    &.nextBox {
      a {
        cursor: url(../../../public/ui/right-arrow.svg), auto;

      }
    }
  }
  .Stage {
    z-index: $zLow;
    flex-basis: content;
  }
}


