@import '../../scss/global';

.StageWrapper {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: row;

  .NavBox {
    flex-grow: 1;
    a {
      opacity: 0;
    }
  }
  .Stage {
    z-index: $zLow;
    flex-basis: content;
  }
}


