@import '../../scss/global';

.StageWrapper {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: row;

  .NavBox {
    flex-grow: 1;
    a {
      color: #888;
      align-items: center;
      flex-direction: row;
    }

    &.previousBox {
      a {
        justify-content: left;
      }
    }

    &.nextBox {
      a {
        justify-content: right;
      }
    }
  }
  .Stage {
    z-index: $zLow;
    flex-basis: content;
  }
}


