@import '../../scss/global';

.BackButton {
  display: none;

  @media (screen and min-width: 600px) {
    display: block;
    position: fixed;
    opacity: $iconOpacity;
    bottom: $footerHeight;
    left: 1rem;

    padding-bottom: 0.75rem;
    cursor: pointer;
    img {
      display: block;
      width: 1.75rem;
      height: 1.75rem;
    }
  }

}
