@import '../../scss/global';

.BackButton {
  //background-color: silver;
  position: fixed;
  opacity: 0.5;
  bottom: 4rem;
  left: $sideMarginSmall;
  z-index: $zMega;

  cursor: pointer;
  img {
    display: block;
    width: 2rem;
    height: 2rem;
  }
}
