@import '../../scss/global';

.StageScrolling {
  padding-top: $headerHeight;
  padding-bottom: 8rem;
  //background-color: aliceblue;
  max-width: 36rem;
  @media (screen and screen and min-width: 600px) {
    padding-bottom: $footerHeight;
  }
}
