@import '../../scss/global';

.StageScrolling {
  padding-top: $pageBufferTopPortrait;
  padding-bottom: $pageBufferBottomPortrait;

  @media (screen and min-width: 600px) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    max-width: 75vw;
    .StageScrolling-Inner {
      padding-bottom: $pageBufferBottomLandscape;
    }
  }
}

@media (screen and min-width: 600px) {
  .fullscreen-enabled {
    overflow: scroll;

    .StageScrolling {
      color: white;
      position: relative;
      padding: $headerHeight 0;
    }
  }
}
