@import '../../scss/global';

.StageScrolling {
  padding-top: $headerHeight;
  background-color: paleturquoise;
  padding-bottom: 6rem;
  max-width: 36rem;
  @media (screen and screen and min-width: 600px) {
    padding-bottom: $footerHeight;
  }
}

.fullscreen-enabled {
  overflow: scroll;
  //
  //.Content {
  //  opacity: 0.5;
  //
  //  .StageScrolling {
  //    color: white;
  //    margin-left: auto;
  //    margin-right: auto;
  //  }
  //}

}
