@import '../../scss/global';


.Main {
  z-index: $zMed;
  max-width: 100%;

  .MainNav {
    display: none;
  }
  position: relative;
  &.fullscreen-enabled {
    .MainNav {
      display: flex;
    }
    .exit-fullScreen-button {
      display: block;
    }

    .enter-fullScreen-button {
      display: none;
    }


  }



}


