.Main {
  display: flex;
  height: 100%;

  .fullscreen {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;

    #content {
      display: flex;

      .imageWrapper {
        align-self: center;
      }
    }
  }

  .fullScreen-button {
    color: rgb(0, 0, 0, 0.5);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
  }

  .exit-fullScreen-button {
    color: white;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
  }

  .bigNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .bigArrow {
      align-self: center;
      width: 200px;
      height: 200px;
      color: rgba(100,100,100,0.5)
    }
  }


}
