@import '../../scss/global';


.Main {
  z-index: $zMed;
  max-width: 100%;

  &.fullscreen-enabled {
    .exit-fullScreen-button {
      display: block;
    }

    .enter-fullScreen-button {
      display: none;
    }


  }



}


