@import '../../scss/global';

.NavBox {

  a {
    color: black;
  }

  @media (screen and 600px) {
    flex-grow: 1;

    a {
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

}
