@import '../../scss/global';

.NavBox {

  flex-grow: 1;

  a {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


}
