@import '../../scss/global';

.Content {
  pointer-events: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  z-index: $zHigh;
  img {
    max-width: 100%;
  }
}
