@import '../../scss/global';

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  z-index: $zMed;
  img {
    max-width: 100%;
  }
}

//.fullscreen-enabled {
//  .Content {
//    position: relative;
//    display: block;
//    flex-direction: unset;
//    justify-content: unset;
//    overflow: auto;
//  }
//}



/*
full: 821
header: 65.3
footer: 65.3
stage: 698.9
 */