.CatalogButton {
  margin-top: 1rem;
  font-size: 0.75rem;
  width: 6rem;
  border: 1px solid #888;
  background-color: #bbb;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
