@import '../../scss/global';


.StageFixed {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  @media (screen and min-width: 600px) {
    max-width: 75vw;
  }

  img {
    max-height: $pageHeight;
    max-width: 100%;
  }

  video {
    max-height: $pageHeight;
    max-width: 40rem;
  }

}

