@import '../../scss/global';

.BadSearch-Icon-Wrapper {
  position: fixed;
  opacity: $iconOpacity;
  top: 4rem;
  right: 1.5rem;
  cursor: pointer;
  .enter-fullScreen-button {
    display: block;
  }
}
