@import '../../scss/global';

.BadSearch-Icon-Wrapper {
  position: fixed;
  right: 3rem;
  top: 0.25rem;
  cursor: pointer;

  @media(screen and min-width: 600px) {
    top: 4rem;
    right: 1.5rem;
  }
}

.searchLink {
  cursor: pointer;
}
