@import 'scss/global';

html {
  z-index: $zLow;
  font-family: 'Chaparral Pro', serif;
}

body {
  margin: 0 $sideMarginSmall;
  @media (screen and min-width: 600px) {
    margin: 0 $sideMargin;
  }
    min-height: 100vh;
  #root {
    min-height: 100vh;
  }
}


.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Chaparral Pro', serif;
  min-height: 100vh;

  h1, h2, h3 {
    letter-spacing: normal;
  }

}


