@import 'scss/global';

html {
  font-family: 'ChaparralPro', serif;
}

body {
  margin: 0 $sideMarginSmall;
  @media (screen and min-width: 600px) {
    margin: 0 $sideMargin;
  }
    min-height: 100vh;
  #root {
    min-height: 100vh;
  }
}


.App, .Scene {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'ChaparralPro', serif;
  min-height: 100vh;

  h1, h2, h3 {
    letter-spacing: normal;
  }

  .fullscreen-enabled {
    .Header {
      display: none;
    }
    .Footer {
      display: none;
    }
    .BackButton {
      display: none;
    }
  }


}


