/*noinspection CssInvalidAtRule*/
@import-normalize;

body, html, #root {
  min-height: 100%;
  margin: 0;
}

html {
  font-size: 14pt;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3 {
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
