@font-face {
  font-family: 'ChaparralPro';
  src: local("ChaparralPro"), url("../fonts/ChaparralPro-Regular.otf") format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'ChaparralPro';
  src: local("ChaparralPro"), url("../fonts/ChaparralPro-Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ChaparralPro';
  src: local("ChaparralPro"), url("../fonts/ChaparralPro-Bold.otf") format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'ChaparralPro';
  src: local("ChaparralPro"), url("../fonts/ChaparralPro-BoldIt.otf") format('opentype');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'ChaparralPro';
  src: local("ChaparralPro"), url("../fonts/ChaparralPro-Semibold.otf") format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'ChaparralPro';
  src: local("ChaparralPro"), url("../fonts/ChaparralPro-SemiboldIt.otf") format('opentype');
  font-weight: 600;
  font-style: italic;

}

@font-face {
  font-family: 'ChaparralPro';
  src: local("ChaparralPro"), url("../fonts/ChaparralPro-Light.otf") format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'ChaparralPro';
  src: local("ChaparralPro"), url("../fonts/ChaparralPro-LightIt.otf") format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rokkitt';
  src: local("Rokkitt"), url("../fonts/Rokkitt-Regular.ttf") format('truetype');
  font-weight: normal;
}


$seeThrough: rgba(255,255,255,0.8);

$sideMargin: 0.75rem;
$sideMarginSmall: 0.5rem;

$headerHeight: 4rem;
$footerHeight: 3.5rem;
$pageBufferBottom: 5.5rem;
$readingWidth: 36rem;
$pageHeight: calc(100vh - 7.5rem);
$zLow: 1;
$zMed: 10;
$zHigh: 100;
$zMega: 1000;
$zUltra: 10000;
$iconOpacity: 0.5;
$iconHoverOpacity: 1;
$iconColor: #888;

html {
  font-family: 'ChaparralPro', serif;
}

body {
  margin: 0 $sideMarginSmall;
  @media (screen and min-width: 600px) {
    margin: 0 $sideMargin;
  }
  min-height: auto; // changed from vh
  #root {
    min-height: auto; // changed from vh
  }
}

div.twoUp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1rem;
  @media (screen and min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
img.twoUp {
  display: block;
  width: 100%;
  height: auto;

  @media (screen and min-width: 600px) {
    width: calc(50% - 0.5rem);
  }

}

.hoverable {
  .hoverIcon {
    color: $iconColor;
    opacity: $iconOpacity;
  }
  &:hover {
    .hoverIcon {
      opacity: $iconHoverOpacity;
    }
  }
}