@import '../../scss/global';

.Footer {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $seeThrough;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footerHeight;

  .NavBox {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .MuiSvgIcon-root.leftArrow, .MuiSvgIcon-root.rightArrow {
      width: $footerHeight;
      height: 100%;
    }
  }

  .PageSlider {
    display: none;
  }

  @media (screen and min-width: 600px) {

    //align-items: center;
    //
    //padding: 0.25rem $sideMargin;
    //
    //.NavBox {
    //  align-items: center;
    //  opacity: 0.6;
    //}
  }


}

