.Footer {
    left: 0;
    right: 0;
    position: fixed;
    height: 6rem;
    bottom: 0;
    background-color: white;
    border-top: 1px solid black;

  .catalog-button {

  }


  .catalog-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }




}
