@import '../../scss/global';

.FullScreenButtons {
  position: fixed;
  opacity: $iconOpacity;
  bottom: 3rem;
  right: $sideMarginSmall;
  cursor: pointer;
  .enter-fullScreen-button {
    display: block;
  }

  .exit-fullScreen-button {
    color: white;
    display: none;
  }
}

.fullscreen-enabled {
  .FullScreenButtons {
    .enter-fullScreen-button {
      display: none;
    }
    .exit-fullScreen-button {
      display: block;
    }
  }

}
