@import '../../scss/global';

.FullScreenButtons {
  display: none;

  @media (screen and min-width: 600px) {
    display: block;
    position: fixed;
    bottom: $footerHeight;
    right: $sideMargin;
    width: $iconWidth;
    cursor: pointer;
    .enter-fullScreen-button {
      display: block;
    }

    .exit-fullScreen-button {
      color: white;
      display: none;
    }
  }

  .fullscreen-enabled {
    .FullScreenButtons {
      .enter-fullScreen-button {
        display: none;
      }

      .exit-fullScreen-button {
        display: block;
      }
    }
  }
}
