@import '../../scss/global';

.BadGodsSwiper {
  max-width: 100vw;
  height: 100vh;

  .swiper-wrapper {
    .FolioSlide {

      overflow: auto;

      &.inTransit {
        overflow: hidden;
      }

    }

  }

  .swiper-button-prev, .swiper-button-next {
    height: 100vw;
    width: 20vw;
    top: 0;

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    cursor: url(../../../public/ui/left-arrow.svg), auto;

  }

  .swiper-button-next {
    cursor: url(../../../public/ui/right-arrow.svg), auto;
  }
}



